@font-face {
  font-family: Blockletter;
  src: url(../fonts/Blockletter.otf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: blockletter;
  list-style: none;
  text-decoration-line: none;
  list-style-type: none;
  font-size: 1rem;
  color: #27CEEC;
  box-sizing: border-box;
  text-transform: lowercase;
  
}
* ::placeholder {
  color: #a4d7e0;
  margin-left: 10px;
}
* a:hover {
  border-bottom: 2px solid #FD3E6A;
}

/* -----INICIO BARRA NAV --------------------------------------------------------------- */
header .buttons_header {
  display: flex;
  justify-content: end;
}
header .buttons_header a i {
  font-size: 1rem;
  margin-right: 40px;
  margin-top: 10px;
}

.container-fluid .nav-item a {
  color: #27CEEC;
}
.container-fluid .navbar-brand img {
  width: 100px;
}

input:hover {
  color: #FD3E6A;
}

/* final BARRA NAV ------------------------------------------------------------------- */
.carousel-item img {
  height: 300px;
  width: 300px;
}

/* comienzo footer------------------------------------------------------------------------------- */
.contenedor_footer {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 5px solid #FE3B69;
}
.contenedor_footer .footer_row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contenedor_footer .footer_row .footer_link {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.contenedor_footer .footer_row .footer_link h3 {
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: solid grey;
  text-align: center;
}
.contenedor_footer .footer_row .footer_link .nosotros_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor_footer .footer_row .footer_link .nosotros_footer a {
  text-decoration: none;
  color: #27CEEC;
}
.contenedor_footer .footer_row .footer_link .faq_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.contenedor_footer .footer_row .footer_link .faq_footer li a {
  text-decoration: none;
  color: #27CEEC;
}
.contenedor_footer .footer_row .footer_link .links_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.contenedor_footer .footer_row .footer_link .links_footer li a {
  text-decoration: none;
  color: #27CEEC;
}
.contenedor_footer .footer_row .footer_link .redes_sociales_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-right: 40px;
}
.contenedor_footer .footer_row .footer_link .redes_sociales_footer li a i {
  font-size: 1.5rem;
  text-align: center;
}

/* FINAL FOOTER ----------------------------------------------------------------- */
/* log in page--------------------------------------------------------------------*/
.log_in {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
}
.log_in .img_login {
  width: 100px;
}
.log_in h2 {
  font-size: 2rem;
  margin-top: 20px;
}
.log_in .caja_inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
}
.log_in .caja_inicio .usuario {
  width: 75%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log_in .caja_inicio .usuario input {
  margin-left: 30px;
}
.log_in .caja_inicio .contrasena {
  width: 75%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log_in .caja_inicio .contrasena input {
  margin-left: 5px;
}
.log_in .caja_inicio .boton_inicio {
  margin-bottom: 15px;
  text-transform: lowercase;
}
.log_in .caja_inicio .boton_inicio input:hover {
  color: #FD3E6A;
}

/* final log in page ------------------------------------------------------------------------ */
/* carrousel INDEX----------------------------------------------------------------------------- */
.boton_carusel {
  position: absolute;
  bottom: 200px;
  right: 600px;
}

.boton_carusel2 {
  display: none;
}

.banner2_index img {
  width: 100%;
  position: relative;
}

.form_suscribete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* BOTON WHATSAPP-------------------------------------------------------------------- */
.whatsapp {
  position: fixed;
  left: 1200px;
}
.whatsapp a img {
  height: 60px;
}

/* FINAL BOTON WHATSAPP--------------------------------------------------------------------- */
/* -------cards tienda------- */
.contenedor_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-left: 70px;
  margin-top: 20px;
  row-gap: 10px;
}

.card:hover {
  background-color: darkgrey;
}

.contenedor_form_main {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.contenedor_form_main .form_contenedor {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.contenedor_form_main .form_contenedor img {
  width: 25%;
}
.contenedor_form_main .form_contenedor h2 {
  font-size: 2rem;
}
.contenedor_form_main .form_contenedor .form_contacto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.contenedor_form_main .form_contenedor .form_contacto .form_contenedor_item {
  display: flex;
  flex-direction: column;
}
.contenedor_form_main .form_contenedor .form_contacto .form_contenedor_submit {
  display: flex;
  flex-direction: column;
}

.mainh3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: src("..imagenes\fotos modelos\foto1.jpg");
}

@media (max-width: 768px) {
  .contenedor_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__general {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header__general #nav_header {
    width: 100%;
  }
  .header__general #nav_header .nav_header_barra li a {
    font-size: 0.8rem;
  }
  .header__general .search_header {
    display: none;
  }
  .header__general .buttons_header {
    display: none;
  }
  .footer_row {
    display: flex;
    flex-direction: column;
  }
  .boton_carusel {
    display: none;
  }
  .boton_secundario {
    display: flex;
    justify-content: center;
  }
  .boton_secundario .boton_carusel2 {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
