@font-face {
    font-family: Blockletter;
    src: url(../fonts/Blockletter.otf);
}

* {
margin: 0px;
padding: 0px;
font-family: blockletter;
list-style: none;
text-decoration-line: none;
list-style-type: none;
font-size: 1rem;
color: #27CEEC;
box-sizing: border-box;
text-transform: lowercase;




::placeholder{
    color: #a4d7e0;
    margin-left: 10px;
}

 a:hover{

    border-bottom: 2px solid #FD3E6A;
    

}

}

/* -----INICIO BARRA NAV --------------------------------------------------------------- */

header{

    .buttons_header{

        display: flex;
        justify-content: end;

        a i{

            font-size: 1rem;
            margin-right: 40px;
            margin-top: 10px;
        }
    } 
    
}  

.container-fluid{

    .nav-item{

        a {

            color: #27CEEC;

        }
    }

    .navbar-brand{
        img{

            width: 100px;
        }
    }


}
    
input:hover{
    
    color: #FD3E6A;
}

   

   

    

    
  

/* final BARRA NAV ------------------------------------------------------------------- */




.carousel-item {

    img{

        height: 300px;
        width: 300px;
    }
}





/* comienzo footer------------------------------------------------------------------------------- */



.contenedor_footer{


    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 5px solid #FE3B69;
    ;

    .footer_row{

        display: flex;            
        width: 100%;  
        justify-content: space-around;      

        .footer_link{

            
            display: flex;          
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
               

            h3{

                
                margin-bottom: 15px;
                display: inline-block;
                border-bottom:solid grey;
                text-align: center;
            
                
            } 
            
            .nosotros_footer{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a{

                    text-decoration: none;
                    color: #27CEEC;
                }

            }

            .faq_footer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 40px;

               li a{

                text-decoration: none;
                color: #27CEEC;


                }                    
                    
            }

            .links_footer{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 40px;

                li a {
                    text-decoration: none;
                color: #27CEEC;


                }
            }

            .redes_sociales_footer{

                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                column-gap: 5px;               
                
                margin-right: 40px;

                li a i{

                    font-size: 1.5rem;
                    text-align: center;
                }

            }


            
            
          
            
        }

    }
}

/* FINAL FOOTER ----------------------------------------------------------------- */

/* log in page--------------------------------------------------------------------*/



.log_in{

       
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 100px;

    .img_login{

        width: 100px;
    }
    

    h2{

        font-size: 2rem;
        margin-top: 20px;

    }

    .caja_inicio{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin-bottom: 20px;
        

        .usuario  {

            width: 75%;
            margin-bottom: 15px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            input{

                margin-left: 30px;

                
            }
            
            
        }

        .contrasena{

            width: 75%;
            margin-bottom: 15px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            input{
                margin-left: 5px;
            }
        }

        .boton_inicio{

            margin-bottom: 15px;
            text-transform: lowercase;

            input:hover{

                color: #FD3E6A;
            }
        }

    }
}

/* final log in page ------------------------------------------------------------------------ */

/* carrousel INDEX----------------------------------------------------------------------------- */

.boton_carusel{

    position: absolute;
    bottom: 200px;
    right: 600px;
    
}


.boton_carusel2{

display: none;
    
}


.banner2_index img{

    width: 100%;
    position: relative;
}

.form_suscribete{

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}

/* BOTON WHATSAPP-------------------------------------------------------------------- */

.whatsapp{

    position: fixed;
    left: 1200px;
    
    
    a img{

        height: 60px;

        
    }
    

}

/* FINAL BOTON WHATSAPP--------------------------------------------------------------------- */

/* -------cards tienda------- */

.contenedor_cards{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 70px;
    margin-top: 20px;
    row-gap: 10px;
}

.card:hover{

    background-color: darkgrey;
    
}

.contenedor_form_main{

    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;

    .form_contenedor{

    
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
    
        img{
    
            width: 25%;
    
        }
    
        h2{
    
            font-size: 2rem;
        }

        .form_contacto{

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            .form_contenedor_item{

                display: flex;
                flex-direction: column;
            }


            .form_contenedor_submit{

                display: flex;
                flex-direction: column;
            


            }


            
        }
    }
}


@import "../scss/partials/querys"